
.reg-button {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.list-title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.form-group.required label:after {
    content:"*";
    color:red;
}

:-moz-ui-invalid:not(output) {
    box-shadow: none;
}

.check-form input:invalid, .check-form select:invalid {
    box-shadow: 0 0 5px #F00;
}

@media screen and (min-width: 600px) {
    .container {
        width: 60% !important;
    }
  }